<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Contact Us</title>
</head>

<body>
<form th:action="@{/contact}" method="post">
<h1>Contact Us</h1>
<h2>Team Leader:</h2>
<p>Name: Prahallad Nayak</span></p>
<p>Number: 7978716835</span></p>
<p>Address: Odisha,India</span></p>
<p>Email: prahalladnayak2060@gmail.com</span></p>
    <br>
    <h2>Team Member 1:</h2>
    <p>Name: Jalagam Vinodh Kumar</span></p>
    <p>Number: 8466055278</span></p>
    <p>Address: Andhra Pradesh,India</span></p>
    <p>Email: jalagam220@gmail.com</span></p><br>

    <h2>Team Member2:</h2>
    <p>Name: Sriyarani Mishra</span></p>
    <p>Number: 9348777482</span></p>
    <p>Address: Odisha,India</span></p>
    <p>Email:mishrasriyarani21@gmail.com</span></p><br>

    <h2>Team Member 3:</h2>
    <p>Name: Vikash Agarwal</span></p>
    <p>Number: 7894166241</span></p>
    <p>Address: Odisha,India</span></p>
    <p>Email: agarwalvikash768@gmail.com</span></p><br>

    <h2>Team Member 4:</h2>
    <p>Name: Mandala vineeth</span></p>
    <p>Number: 6281676099</span></p>
    <p>Address: Banglore,india</span></p>
    <p>Email: agarwalvikash768@gmail.com</span></p><br>
</form>

</body>

</html>