<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Online Quiz</title>
  <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<style>
    .navbar {
        background-color : white;
    }
    .login-heading {

        color: black;
        padding: 5px;
        text-align: center;
    }
    .panel {
        margin-top: 100px;
    }
    .left {
        float: left;
    }
    .right {
        float: right;
    }

</style>

<body>
<div class="content">
  <div class="animated fadeIn">
    <div class="row">
      <div class="col-md-12">
        <div class="card" style="background: #4e9ecb;padding-bottom:520px;">
          <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="card-header">
              <h1 style="text-align: center; color: black; font-weight: bold;">Online Quiz Platform</h1>
            </div>
          </nav>
          <br><br><br><br><br><br><br><br><br>
          <div class="container">
            <div class="row">
              <div class="col-md-6 col-md-offset-3">

                <div class="panel panel-default"> <!-- Add the panel class -->
                  <div class="panel-heading"> <!-- Panel header -->
                    <h1 class="panel-title" style="font-size:30px;">OTP Verification</h1>
                  </div>
                  <div class="panel-body"> <!-- Panel body -->

                    <div th:if="${param.error}" class="alert alert-info">
                      Entered OTP is Incorrect. Please Enter Correct OTP.
                    </div>

                    <form th:action="@{/otp-verification}" method="post" th:object="${otpValue}">
                      <div class="form-group">
                        <label class="control-label"></label>
                        <input id="otp" name="otp" class="form-control" required autofocus="autofocus" placeholder="Enter the OTP Received on your Email" />
                        <!-- Add the "name" attribute to the input field -->
                      </div>

                      <div class="form-group text-center">
                        <button type="submit" class="btn btn-primary">Submit</button>
                      </div>
                    </form>
                  </div>
                </div> <!-- End of panel -->
              </div>
            </div>
          </div>

          <nav class="navbar navbar-inverse navbar-fixed-bottom">
            <footer class="mastfoot mt-auto">

            </footer>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>